<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center bg-primary p5">
        <h1>Bari a xoxa, huncs?</h1>
        <button onclick="getData()" class="btn btn-primary">ARTSAKH</button>
        <script src="js/main.js"></script>
    </div>
</body>
</html>